# Visual Studio
.vs/
*.user
*.suo
*.cache
*.ilk
*.pdb
*.obj
*.log
*.vspscc
*.vssscc
# Build results
bin/
obj/
TestResults/
# Rider
.idea/
# User-specific files
*.user
*.suo
*.userosscache
# Visual Studio Code
.vscode/
# NuGet
*.nupkg
*.snupkg
packages/
# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
# dotenv environment variables file
.env
# local env config
appsettings.Development.json
# Others
~$*
*~
CodeCoverage/
# MSBuild Binary and Structured Log
*.binlog
# MSTest test Results
[Tt]est[Rr]esult*/
# ASP.NET Scaffolding
ScaffoldingReadMe.txt
# Mac
.DS_Store
# Windows
Thumbs.db
Desktop.ini
# Local build outputs
out-build-check/
.kilo/
for_md/
